@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "./common/scss/variables.scss";
@import "./common/scss/mixin.scss";

html,
body,
#root {
  height: 100%;
}
.App {
  font-family: "Montserrat", sans-serif;
  background-color: $brand-primary;
  height: 100%;
  overflow: auto;
  &-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: $white;

    svg {
      height: 2rem;
    }

    h3 {
      margin-left: 0.5rem;
    }

    .title-light {
      margin-left: 0;
      font-weight: 200;
    }
  }
  &-header,
  &-body {
    margin: 0 20px;
    max-width: $laptop;

    @include respond-up($laptop) {
      margin: 0 auto;
      padding: 0 20px;
      max-width: $desktop;
      margin-bottom: 1rem;
    }
  }
}

@import "./catalogue-display/catalogue-display.scss";
@import "./catalogue-item/catalogue-item.scss";
@import "./catalogue-filtered-display/catalogue-filtered-display.scss";
@import "./catalogue-filter/catalogue-filter.scss";
@import "./catalogue-pagination/catalogue-pagination.scss";
@import "./catalogue-toolbar/catalogue-toolbar.scss";
