.catalogue {
  display: flex;
  gap: 2rem;
  flex-direction: column;

  &__filter-catalogue-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    @include respond-up($laptop) {
      flex-direction: row;
    }
  }
}
