.catalogue-filtered-display {
  display: flex;
  gap: 1rem;

  &__catalogue {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;

    .catalogue-item {
    }
  }
}
