.catalogue-item {
  padding: 1.5rem 1rem;
  background-color: $white;
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__image-container {
    overflow: hidden;
    width: 100%;
    height: 75%;
  }

  &__text-container {
    padding: 0.5rem 0;
  }

  &__manufacturer,
  &__name {
    display: inline-flex;
    margin-right: 5px;
  }
  &__name {
    font-weight: 600;
  }

  &__price {
    color: $shade-400;
    margin: 0.5rem 0 0;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 0.2s linear;
  }

  @include on-interact {
    img {
      transform: scale(1.25);
    }
  }
}
